body{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0%;
  
}
 /*
header{
    height: 51px;
    width: 1349 px;
    background-color:rgb(157, 214, 195);
    padding-top: 0%;
   
}
header h1{
    float: left;
    width: auto;
    position: relative;
    margin-left: 1%;
    padding-bottom: 5px;
    margin-top: 0%;

}

header div{
    float: left;
    width: auto;
    position: relative;
    margin-left: 1%;
    padding-bottom: 5px;
    margin-top: 0%;
    text-align: center;
}

header div ul{
    display:flex;
    justify-content: end;
    align-items: center;
    
}
header div ul li{
    list-style:none;
    margin-left: 20px;
    
}*/

nav{
    width: 100%;
    height: 75px;
    top: 0px;
    line-height: 75px;
    padding: 0px 10px;
    position:fixed;
    background-image:linear-gradient(rgb(24, 68, 85),rgb(21, 36, 41));
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo h1{
     
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 0%;
}


nav ul{
    float: right;
    margin-top: 0%;

}
nav li{
    display: inline-block;
    list-style: none;
 
   

}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px ;
    color: aliceblue;
    text-decoration: none;
   

    
    
}
nav li a:hover{
    color: tomato;
    transition: all 0.4s ease 0s ;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
   
    
  }
/*
footer{
    position: fixed;
    bottom: 0;
   text-align: center;
   width: 100%;
}*/
/*style for menu collaps menubar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(100, 101, 112);
    color: white;
    padding: 10px 10px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: tomato;
  }
  
  .sidebar h1 {
    padding: 8px 8px 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar h1:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.middle{
  clear: both;
  margin-top: 75px;
  height: 500px;
  width:100%;
  background-image: linear-gradient(rgb(199, 230, 230),rgb(115, 143, 143));

}
.half{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half img{
  margin-top: 76px;
  width: 100%;
  height: 100%;
  background-color: #818181;
}
.end{
  clear: both;
  margin-top:0px; 
  height: 500px;
  width:100%;  
  background-image: linear-gradient(rgb(115, 143, 143),rgb(199, 230, 230));

}

